@import "tailwindcss";


/* Use same colors as resume
\definecolor{SlateGrey}{HTML}{2E2E2E}
\definecolor{LightGrey}{HTML}{666666}
\definecolor{Burnt sienna}{HTML}{e07a5f}
\definecolor{Blue Munsell}{HTML}{5296a5}
\definecolor{Delft Blue}{HTML}{3d405b}
make a palette based on these colors */

:root
{
  --color-SlateGrey: #2E2E2E;
  --color-LightGrey: #666666;
  --color-Burnt-sienna: #e07a5f;
  --color-Burnt-sienna-dark: #c76b4f;
  --color-Blue-Munsell: #5296a5;
  --color-Blue-Munsell-dark: #48828f;
  --color-Delft-Blue: #3d405b;
}



@theme {
  --color-base-bg: var(--color-white);
  --color-content-light: var(--color-gray-300);
  /* --color-content-dark: var(--color-SlateGrey); */
  --color-content-dark: var(--color-gray-700);
  /* --color-accent: var(--color-Burnt-sienna); */
  /* --color-accent-hover: var(--color-Burnt-sienna-dark); */
  --color-accent: var(--color-Blue-Munsell);
  --color-accent-hover: var(--color-Blue-Munsell-dark);
  --color-pop: var(--color-Burnt-sienna);
  --color-heading: var(--color-Blue-Munsell);
  --color-heading-active: var(--color-Blue-Munsell-dark);
  --color-border: var(--color-Delft-Blue);
}

